# Environment variables
.env

# Packaging artifacts
*.egg-info/
build/
dist/

# Virtual environment
.venv/
.uv/
.python-version

# Data directory
data/

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# Logs or runtime
*.log
